<p>
    <strong>Name:</strong>
    <%= @group.name %>
</p>
 
<p>
    <strong>Photo:</strong>
    <%= @group.photo %>
</p>


<h2>Comments:</h2>
Todo


<h2>Add a comment:</h2>
Todo
 

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>